<% show_post ||= false %>

<div class='row'>

	<% if logged_in? %>
		<div class='well span0'>
			<% if comment.votes.where(user_id: current_user.id).any? %>
				<%= "#{comment.vote_count} votes" %>
			<% else %>
				<%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post' do %>
					<i class='icon-arrow-up'></i>
				<% end %>
				<br/>
				<%= "#{comment.vote_count} votes" %>
				<br/>
				<%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post' do %>
					<i class='icon-arrow-down'></i>
				<% end %>
			<% end %>
		</div>
	<% end %>

	<div class="well span8">
		<em>"<%= comment.body %>"</em>
		<% if show_post %>
			on <%= link_to comment.post.title, post_path(comment.post) %>
		<% end %>
			<span class='quiet'>posted by </span><%= link_to comment.user.username, user_path(comment.user.id) %>
			<small>at <%= fix_date_time(comment.created_at) %></small>
	</div>
</div>